<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container mt-3">
        <h1 class="bg-{{ session['color']}}">5.7.fri Demo</h1>

        <a class="btn btn-danger" href="/red">Red</a>
        <a class="btn btn-warning" href="/yellow">Yellow</a>
        <a class="btn btn-success" href="/green">Green</a>
        <a class="btn btn-primary" href="/blue">Blue</a>
        <a class="btn btn-info" href="/teal">Teal</a>

        <a href="/clear_session" class="btn btn-dark">Restart!</a>

    </div>
</body>
</html>