* {
    font-family: 'Antonio', sans-serif;
    color: white;
}

.container {
    width: 1080px;
    margin: auto;
}

.top {
    height: 360px;
    background-color: blue;
    background-image: url("Images/banner.jpg");
    background-size: cover;
}

.nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: space-between;
}

.navleft {
    display: flex;
}

.navleft li {
    list-style-type: none;
    padding-right: 20px;
}

.navleft li img {
    width: 120px;
}

.navright {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.navright p {
    margin-left: 40px;
}

.season {
    margin-left: 40px;
    margin-top: 165px;
}

.season h1, .season p {
    margin: 15px 0px;
}

.season button {
    background-color: #1572a4;
    border: none;
    padding: 5px 50px;
    font-size: 18px;
    /* color: white; */
}

.bottom {
    height: 260px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}


.dev img {
    width: 300px;

}

.dev h3 {
    margin: 5px 0px;
    color: #237aa9;
}

.social {
    position: fixed;
    top: 100px;
}

.social .fa {
    padding: 10px;
    font-size: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    text-decoration: none;
    margin: 3px;
    border-radius: 50%;
    display: block;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}